
@font-face {
  font-family: "Concert_One";
  src: url("./fonts/ConcertOne-Regular.ttf");
}
@font-face {
  font-family: "Contrail_One";
  src: url("./fonts/ContrailOne-Regular.ttf");
}
@font-face {
  font-family: "Orbitron";
  src: url("./fonts/Orbitron-Bold.ttf");
}
@font-face {
  font-family: "Knewave";
  src: url("./fonts/Knewave-Regular.ttf");
}
@font-face {
  font-family: "PressStart2P";
  src: url("./fonts/PressStart2P-Regular.ttf");
}
@font-face {
  font-family: "Overlock";
  src: url("./fonts/Overlock-Bold.ttf");
}
@font-face {
  font-family: "Overlock-reg";
  src: url("./fonts/Overlock-Regular.ttf");
}


html{
  width: 100%;
  height: 100%;
  background:linear-gradient(88.56deg, #901a8a 29.09%, rgba(13, 183, 245, 1) 106.88%);
}

body{
  overflow-x: hidden;
  width:100%;
  height:100%;
  margin-left: 4%;
  margin-top:2rem;
}

.flex{
  display:flex;
  gap: 5px;
  flex-wrap:wrap;
  margin-left: 10px;
  margin-right: 10px;
  align-items:flex-end;
   
}

.brillo{
  position:absolute;
  margin-top: -6.23rem;
  margin-left: 0.2rem;
  width: 2rem;
  height: 6.2rem;
  background: linear-gradient(90deg, #FFFFFF -64.35%, rgba(255, 255, 255, 0.00520833) 45.24%, rgba(255, 255, 255, 0) 164.35%);
  mix-blend-mode: hard-light;
  border-radius: 6px;
  cursor:pointer;
  }

.letra, .letra2, .letra3{
  box-sizing: border-box;
  display:flex;
  width: 45px;
  height:100px;
  background: linear-gradient(88.56deg, #3fd0f8 6.09%, rgba(217, 217, 217, 0) 146.88%);
  align-items: center;
  border-radius: 6px;
  font-size:4rem;
  font-family:"Concert_One",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-content:center;
  margin-left: none;
  border: 1px solid #003c56;
  cursor:pointer;

}

.letra-space{
  background: none;
  margin-left: -15px;
  margin-right: -15px;
}

.letra2{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #f1f814 0%, rgba(217, 217, 217, 0) 100%);
mix-blend-mode: hard-light;
border: 2px solid #FFE70B;

}
.letra3{
  background: linear-gradient(88.56deg, #f4f4f4 6.09%, rgba(217, 217, 217, 0) 146.88%);
  border: 2px solid #010101;
}

.signo{
  align-items: center;
  font-size:3rem;
  font-family:"Concert_One",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-inline-end: 1rem;
 
}


.principal{
box-sizing: border-box;
padding:10px;
width: 90%;
height: 100%;
background: linear-gradient(88.56deg, #868686 6.09%, rgba(249, 249, 249, 0) 146.88%);
border: 2px solid #ffffff;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 12px 12px 1px 1px;

}

.footer, .player {
  display:flex;
  flex-direction:column;
  gap:5px;
margin-top: 5px;
margin-left: 10px;
box-sizing: border-box;
padding:10px;
width: 90%;
background: linear-gradient(88.56deg, #D9D9D9 6.09%, rgba(217, 217, 217, 0) 146.88%);

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.player {
  width:60%;
  max-width: 28rem;
  border-radius: 12px;
  border: 2px solid #616060;
  overflow:auto;
}
.footer{
  position:relative;
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
  background-color: #5c3002;
  background-image: url("./images/fondo.jpg");
  height: 200px;
  color:rgb(209, 208, 208);
  border: 3px solid #5c3002;
  font-family:"Overlock-Reg" ,'Courier New', Courier, monospace;
  border-radius: 5px;
  overflow: hidden;
  font-size: 0.8rem;
  margin-left: none;

}
.bold{
  font-family:"Overlock" ,'Courier New', Courier, monospace;
  font-size: 0.9rem;
}

h3{
  font-family:"Contrail_One" ,'Courier New', Courier, monospace;
  margin-left: 2rem;
}

li{
line-height: 1rem;
}
.temas, .temaBold{
  line-height: 2rem;
  margin-top:-0.5rem;
}
.temaBold{
  font-family:"Overlock" ,'Courier New', Courier, monospace;
  font-size: 0.9rem;
  text-shadow: 0px 0px 10px white;
}

.nombre{
  color: white;
  position:absolute;
  top: 9rem;
  left: 20rem;
  font-family:"Contrail_One" ,'Courier New', Courier, monospace;
  font-size:1.8rem;
}

.presentador{
  margin-top: 1px;
margin-left: 10px;
box-sizing: border-box;
  width: 90%;
  height: 100%;
  padding:10px;
background: linear-gradient(88.56deg, #0e0e0e 6.09%, rgba(217, 217, 217, 0) 146.88%);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border: 2px solid black;
border-radius: 2px;
color:lightgray;
font-family:"Contrail_One",Verdana, Geneva, Tahoma, sans-serif;
font-size:0.9rem;

}

.input-letra, textarea{
  max-width: 200px;
  font-family:"Concert_One",Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 5px;
  border:1px solid rgb(121, 120, 120);
}
textarea{
  height:3rem;
  max-height:3rem;
  width: 12rem;

}

.input-letra{
  height:100px;
  width: 50px;
  font-size:78px;
  text-transform: uppercase;
  padding-left:10px;
  margin-right: 0.3rem;

}

.btn , .btn1, .close-btn{
  position:relative;
  height:30px;
  border-radius: 4px;
  margin-right: 0.3rem;
}

.btn1{
  top:0.7rem;
}

.form{
  position:relative;
}

.vidas{
  display: flex;
  flex-direction: column;
  margin-left: 160px;
  margin-bottom: -6px;
}

.letras-dichas{
  position:absolute;
  left:6.5rem;
  bottom:9.2rem;
  width: 220px;
  height: 20px;
  background-color: rgb(210, 207, 207);
  color:#686868;
  font-size:medium;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 5px;
  padding-right: 8px;
  text-align:end;
  overflow: hidden;
  border-radius: 3px;


}

.cartera, .cartera2, .cartera-alone{
  position:absolute;
  left:16.7rem;
  bottom:3.3rem;
  width: 100px;
  height: 30px;
  background-color: rgb(0, 0, 0);
  color:#686868;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  border-radius: 5px;
  font-size:x-large;
  font-family:"Orbitron", 'Courier New', Courier, monospace;
  text-align: end;
  padding-right: 0.5rem;
  color:#D9D9D9;
}

.cartera2{
  bottom:6.3rem;
}
.cartera-alone{
  left:13.7rem;
  bottom:4.3rem;

}.resaltada{
  box-shadow: 0px 0px 10px 3px rgba(13, 184, 236, 0.5);
}

.noShow{
display:none;
}

.img{
  position:inherit;
  bottom: 300px;
  width: 1000px;
}


/* ------------- construcci칩n Ruleta ------------------ */


.option:first-child .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #fd0ab0 0%, rgba(217, 217, 217, 0) 100%);
  
}
.option:nth-child(2) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #b40afd 0%, rgba(217, 217, 217, 0) 100%);
  
}
.option:nth-child(3) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #0e0afd 0%, rgba(217, 217, 217, 0) 100%);
  
}
.option:nth-child(4) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #076c01 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(5) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #fd940a 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(6) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #0e0afd 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(7) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #fd0a0a 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(8) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #fd0ab0 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(9) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #030303 0%, rgba(217, 217, 217, 0) 100%);
  
}
.option:nth-child(10) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #0e0afd 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(11) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #076c01 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(12) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #fd940a 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(13) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #fd0ab0 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(14) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #b40afd 0%, rgba(217, 217, 217, 0) 100%);
  
}
.option:nth-child(15) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #0e0afd 0%, rgba(217, 217, 217, 0) 100%);
  
}
.option:nth-child(16) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #050505 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(17) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #fd940a 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(18) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #0e0afd 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(19) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #0c0c0c 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(20) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #fd0ab0 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(21) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #b40afd 0%, rgba(217, 217, 217, 0) 100%);
  
}
.option:nth-child(22) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #0e0afd 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(23) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #f7d304 0%, rgba(217, 217, 217, 0) 100%);
}
.option:nth-child(24) .text{
  background: radial-gradient(114.35% 140.07% at 50% 50%, #fd940a 0%, rgba(217, 217, 217, 0) 100%);
}
.option:first-child {
  transform:rotate(0deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(2) {
  transform:rotate(15deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(3) {
  transform:rotate(30deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(4) {
  transform:rotate(45deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(5) {
  transform:rotate(60deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(6) {
  transform:rotate(75deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(7) {
  transform:rotate(90deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(8) {
  transform:rotate(105deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(9) {
  transform:rotate(120deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(10) {
  transform:rotate(135deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(11) {
  transform:rotate(150deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(12) {
  transform:rotate(165deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(13) {
  transform:rotate(180deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(14) {
  transform:rotate(195deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(15) {
  transform:rotate(210deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(16) {
  transform:rotate(225deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(17) {
  transform:rotate(240deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(18) {
  transform:rotate(255deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(19) {
  transform:rotate(270deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(20) {
  transform:rotate(285deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(21) {
  transform:rotate(300deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(22) {
  transform:rotate(315deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(23) {
  transform:rotate(330deg) skewY(-74deg) scaleX(0.58)
}
.option:nth-child(24) {
  transform:rotate(345deg) skewY(-74deg) scaleX(0.58)
}



/* --------------- dise침o y posici칩n ruleta ---------------- */



.padre{
  position:absolute;
  right:-8%;
  width:57%;
  height:auto;

}

.ruleta{
  margin-top: 50px;
  margin-left: 5px;
  box-sizing: border-box;
  padding:10px;
  z-index: 98;
  }
  
.circle{
  position:relative;
  left:3.15rem;
  bottom:13rem;
  width:12em;
  height:12em;
  border:2px solid #000000;
  margin:-0.5em 5em;
  padding:0;
  border-radius: 50%;
  list-style:none;
  overflow:hidden;
}
.circle-white{
  position:relative;
  left:40px;
  bottom:0.85rem;
  width:13em;
  height:13em;
  border:2px solid #000000;
  background-color: white;
  margin:-0.5em 5em;
  padding:0;
  border-radius: 50%;
  overflow:hidden;
  z-index:97;
}
.option{
  overflow:hidden;
  position: absolute;
  top:0;
  right:0;
  width:50%;
  height:50%;
  transform-origin:0% 100%;
  color:#ffffff;
}
.text{
  position:absolute;
  left:-100%;
  width:200%;
  height:200%;
  text-align:center;
  display: block;
  transform: skewY(60deg) rotate(7deg);
  padding-top: 4px;
  font-weight: bold;
  font-size: xx-small;

}
.linear{
  position:relative;
  font-size: 0.5rem;
  margin:14px;
  transform: rotate(90deg);
}
.linear2{
  transform:skewY(15deg) scaleY(0.75);
  margin-top:0.2rem;
  margin-left:1.1rem;
  font-size: 1rem;
}
.linear3{
  transform:skewY(15deg) scaleY(0.75) rotate(97deg) skewX(5deg);
  margin-top:1.3rem;
  margin-left:1.1rem;
  font-size: 0.6rem;
}
.linear5{
  transform:skewY(15deg) scaleY(0.75) rotate(97deg) skewX(5deg);
  margin-top:1.1rem;
  margin-left:1rem;

  font-size: 0.6rem;
}

.linear4{
  transform:skewY(15deg) scaleY(0.75);
  margin-top:0.2rem;
  margin-left:1.1rem;
  font-size: 1rem;
  color:#000000;
}

.arrow{
  position: absolute;
  width:0;
  height:0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 20px solid black;
  left: 13.63rem;
  bottom: 24rem;
  z-index: 100;
}
.arrow-white{
  position: absolute;
  width:0;
  height:0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 25px solid rgb(254, 254, 254);
  left: 13.5rem;
  bottom: 23.77rem;
  z-index: 99;
}

.btn-spin{
  font-family:"Knewave", 'Courier New', Courier, monospace;
  position:absolute;
  left: 12.13rem;
  bottom: 16.4rem;
  width:70px;
  height:70px;
  background-color: rgb(0, 0, 0);
  border:1px solid rgb(255, 254, 254);
  border-radius: 50%;
  z-index: 101;
  cursor:pointer;
  color:#ffffff;
}


/* ---------------- animaci칩n ruleta --------------- */


.start-rotate{
  animation: start-rotate 1s linear infinite;
}
@keyframes start-rotate{
  100% {transform: rotate(360deg);}
}

.stop-rotate{
  animation-play-state: paused;
}

/* ------------------ Start component ----------------------------- */

.start-overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:110%;
  background:rgba(0,0,0,0.55);
  display:grid;
  place-items:center;
  transition: 1s;
  z-index:300;
}
.start-container{
  position:relative;
  margin-left: none;
  width:50%;
  height:auto;
  overflow:visible;
  background:rgb(235, 235, 235);
  border-radius:1rem;
  z-index:150;
  padding:2rem;
  text-align: center;
}
.start-img{
  height:12rem;

}
.start-content{
  display:flex;
  width:90%;
  height:90%;
  text-align: left;
  padding-left:2rem;
}
.start-content p{
  color:rgb(1, 1, 1);
  margin-left: 1rem;
}
.start-content a{
  display:block;
  color:black;
  margin-bottom:1rem;
  text-decoration:underline;
  transition: color 1s;
}
.start-content a:hover{
  color:black;
}
.close-btn, .player-btn{
  margin-top: 5px;
  width:8rem;
}

.player-btn:enabled{
  background: linear-gradient(88.56deg, #3fd0f8 6.09%, rgba(217, 217, 217, 0) 146.88%);
  
}
.player-btn:active{
  background: linear-gradient(88.56deg, #f9f9f8 6.09%, rgba(217, 217, 217, 0) 146.88%);
}

.flexer{
  margin-left: 23%;
  font-size: small;
  margin-top: -5%;
}
.flexer2{
  display:flex;
  align-items: center;
  margin-left: -30%;
  font-size: small;
}

.hide-content{
  width:0px;
  height:0px;
  overflow: hidden;
}

.input-start{
  margin-left: 1rem;
  margin-right: 1rem;
  border:none;
  padding-left: 0.5rem;
  border-radius: 5px;
  max-width:100px;
  width:100px;
  height: 20px;
}

h2{
  font-size: 2.5rem;
  margin-top:-2rem;
}

.info-start{

position:relative;
bottom:0.8rem;
}
.selector{
  margin-top: 2rem;
  margin-left:0.6rem;
}
